.nav-bar {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hero-link:hover,
.about-link:hover,
.education-link:hover,
.experience-link:hover,
.misc-link:hover,
.contact-link:hover {
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-thickness: 3px;
}