.experience-container{
    padding: 20px;
    height: auto;
    background-color: white;
    color: black;
    font-weight: bolder;
}

.experience-container-title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.project-right-content {
    width: 50%;
}

.experience-left-content {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.experience-bottom-content {
    display: flex;
    justify-content: space-evenly;
}

.project-info {
    line-height: 30px;
}

.its-info {
    line-height: 30px;
}